BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TABLE {
	COLOR: #4b4a4f; FONT-SIZE: 12px
}
TR {
	COLOR: #4b4a4f; FONT-SIZE: 12px
}
TD {
	COLOR: #4b4a4f; FONT-SIZE: 12px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A:link {
	FONT-FAMILY: "宋体"; COLOR: #0d286d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: "宋体"; COLOR: #0d286d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	FONT-FAMILY: "宋体"; COLOR: #0d286d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.fontbai {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
.fontlan {
	COLOR: #174aa5; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.fontlan2 {
	COLOR: #04297a; FONT-SIZE: 12px
}
.border33 {
	BORDER-BOTTOM: #879ec8 1px; BORDER-LEFT: #879ec8 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #879ec8 1px solid; BORDER-RIGHT: #879ec8 1px solid
}
.border4 {
	BORDER-BOTTOM: #879ec8 1px solid
}
.border5 {
	BORDER-BOTTOM: #879ec8 1px solid; BORDER-LEFT: #879ec8 1px solid; BORDER-TOP: #879ec8 1px; BORDER-RIGHT: #879ec8 1px solid
}
.pad02 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.border22 {
	BORDER-BOTTOM: #416bb3 1px solid; BORDER-LEFT: #416bb3 1px solid; BORDER-TOP: #416bb3 1px solid; BORDER-RIGHT: #416bb3 1px solid
}
.left_style {
	Z-INDEX: 2; WIDTH: 247px; HEIGHT: 100%; VISIBILITY: inherit
}
.left_style2 {
	Z-INDEX: 2; WIDTH: 150px; HEIGHT: 100%; VISIBILITY: inherit
}
.right_style {
	Z-INDEX: 1; WIDTH: 100%; HEIGHT: 100%; VISIBILITY: inherit
}
#main_bar {
	WIDTH: 100%; BACKGROUND: url(../images/banner.jpg) no-repeat center 50%; HEIGHT: 90px
}
.open {
	BACKGROUND: url(../images/pic24.gif) no-repeat center 210px; CURSOR: hand
}
.close {
	BACKGROUND: url(../images/pic23.gif) no-repeat center 210px; CURSOR: hand
}
#switchPoint {
	WIDTH: 25px
}
.footer {
	BACKGROUND-IMAGE: url(../images/footerbg.jpg); MARGIN-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 45px
}
.outer {
	MARGIN: 0px auto; WIDTH: 954px
}
#frmTitle {
	BORDER-BOTTOM: #4578b7 1px solid; BORDER-LEFT: #4578b7 1px solid; PADDING-BOTTOM: 13px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #4578b7 1px solid; BORDER-RIGHT: #4578b7 1px solid; PADDING-TOP: 13px
}
.mar01 {
	MARGIN-BOTTOM: 20px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.slidingBlock {
	MARGIN-TOP: 3px; WIDTH: 100%; HEIGHT: 54px
}
.dao01 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 102px; BACKGROUND: url(../images/menu_bg01.jpg) no-repeat; FLOAT: left; HEIGHT: 25px; FONT-SIZE: 12px
}
.dao01 A {
	COLOR: #ffffff; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.dao02 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 102px; BACKGROUND: url(../images/menu_bg02.jpg) no-repeat; FLOAT: left; HEIGHT: 25px; FONT-SIZE: 12px
}
.dao02 A {
	COLOR: #002c7f; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.border01 {
	BORDER-BOTTOM: #779fd0 1px solid; BORDER-LEFT: #779fd0 1px solid; BORDER-TOP: #779fd0 1px solid; BORDER-RIGHT: #779fd0 1px solid
}
.pad01 {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; PADDING-TOP: 11px
}
.navleftbg01 {
	LINE-HEIGHT: 34px; PADDING-LEFT: 33px; BACKGROUND: url(images/leftnavbg01.jpg) no-repeat; HEIGHT: 34px; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.navleftbg02 {
	LINE-HEIGHT: 34px; PADDING-LEFT: 33px; BACKGROUND: url(images/leftnavbg02.jpg) no-repeat; HEIGHT: 34px; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.borlyb {
	BORDER-BOTTOM: #b2bed8 1px solid; BORDER-LEFT: #b2bed8 1px solid; BORDER-TOP: #b2bed8 1px solid; BORDER-RIGHT: #b2bed8 1px solid
}
.padtop {
	PADDING-TOP: 11px
}
.line {
	BORDER-BOTTOM: #cfe0e8 1px solid
}
.login_wz {
	MARGIN: 50px 0px 0px 80px; COLOR: #000000; FONT-SIZE: 12px
}
.login_dl {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 50px
}
.login_bd1 {
	WIDTH: 138px; HEIGHT: 15px
}
.login_bd2 {
	WIDTH: 80px; HEIGHT: 15px
}
.privacy_mb {
	BORDER-BOTTOM: #a2b2c2 1px solid; BORDER-LEFT: #a2b2c2 1px solid; BORDER-TOP: #a2b2c2 1px solid; BORDER-RIGHT: #a2b2c2 1px solid
}
.privacy_wz {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.privacy_mb2 {
	BORDER-BOTTOM: #779fd0 1px solid; BORDER-LEFT: #779fd0 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #f8f9fb; MARGIN: 20px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #779fd0 1px solid; BORDER-RIGHT: #779fd0 1px solid; PADDING-TOP: 20px
}
.privacy_mb3 {
	BORDER-BOTTOM: #cbd0d3 1px solid; BORDER-LEFT: #cbd0d3 1px solid; COLOR: #4c4b50; FONT-SIZE: 12px; BORDER-TOP: #cbd0d3 1px solid; BORDER-RIGHT: #cbd0d3 1px solid
}
.privacy_wz2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; COLOR: #4c4b50; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.privacy_mb4 {
	BORDER-BOTTOM: #c4ceda 1px solid; BORDER-LEFT: #c4ceda 1px solid; BORDER-TOP: #c4ceda 1px solid; BORDER-RIGHT: #c4ceda 1px solid
}
.user_mb {
	BORDER-BOTTOM: #a2b1c3 1px solid; BORDER-LEFT: #a2b1c3 1px solid; BORDER-TOP: #a2b1c3 1px solid; BORDER-RIGHT: #a2b1c3 1px solid
}
.user_wz {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.user_mb2 {
	BORDER-BOTTOM: #416cb3 1px solid; BORDER-LEFT: #416cb3 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ebf1fc; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #416cb3 1px solid; BORDER-RIGHT: #416cb3 1px solid; PADDING-TOP: 10px
}
.user_mb3 {
	BORDER-BOTTOM: #869fc7 1px solid; BORDER-LEFT: #869fc7 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #869fc7 1px solid; BORDER-RIGHT: #869fc7 1px solid
}
.user_wz2 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #0d286f; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.user_mb4 {
	BORDER-BOTTOM: #a9bcd2 1px solid; BORDER-LEFT: #a9bcd2 1px solid; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f8f8f8; MARGIN: 10px 0px; COLOR: #022978; FONT-SIZE: 12px; BORDER-TOP: #a9bcd2 1px solid; BORDER-RIGHT: #a9bcd2 1px solid
}
.user_mb5 {
	BORDER-BOTTOM: #c2ccd8 1px solid; BORDER-LEFT: #c2ccd8 1px solid; BORDER-TOP: #c2ccd8 1px solid; BORDER-RIGHT: #c2ccd8 1px solid
}
.user_mb6 {
	BORDER-BOTTOM: #416cb3 1px solid; BORDER-LEFT: #416cb3 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ebf1fc; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #416cb3 1px solid; BORDER-RIGHT: #416cb3 1px solid; PADDING-TOP: 10px
}
.pm_mb1 {
	BORDER-BOTTOM: #869fc7 1px solid; BORDER-LEFT: #869fc7 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #869fc7 1px; BORDER-RIGHT: #869fc7 1px solid
}
.pm_mb2 {
	BORDER-BOTTOM: #a8bdd2 1px solid; BORDER-LEFT: #a8bdd2 1px solid; BACKGROUND-COLOR: #f8f8f8; MARGIN: 10px 0px; BORDER-TOP: #a8bdd2 1px solid; BORDER-RIGHT: #a8bdd2 1px solid
}
.pm_wz1 {
	TEXT-ALIGN: center; COLOR: #0b296f; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.pm_wz2 {
	LINE-HEIGHT: 28px; COLOR: #032876; FONT-SIZE: 12px
}
.pm_mb3 {
	BORDER-LEFT: #b3c7d0 1px solid
}
.pm_mb4 {
	MARGIN: 20px 0px 10px
}
.pm_mb5 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #b2b1d0; MARGIN: 20px 0px 10px; COLOR: #000000; FONT-SIZE: 12px
}
.pm_wz3 {
	COLOR: #0d286f; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.pm_mb6 {
	MARGIN: 20px 0px 10px; COLOR: #000000; FONT-SIZE: 12px
}
.personal_mb1 {
	BORDER-BOTTOM: #416cb1 1px solid; BORDER-LEFT: #416cb1 1px solid; MARGIN: 10px 0px; BORDER-TOP: #416cb1 1px solid; BORDER-RIGHT: #416cb1 1px solid
}
.personal_wz1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; COLOR: #154992; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.personal_wz2 {
	COLOR: #333333; FONT-SIZE: 12px
}
.martop {
	MARGIN-TOP: 13px
}
.pr {
	PADDING-RIGHT: 10px
}
.modtitle01 {
	BACKGROUND-IMAGE: url(images/bgtiao1.jpg); LINE-HEIGHT: 22px; PADDING-LEFT: 28px; WIDTH: 114px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; COLOR: #1c4b93; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.modtitle02 {
	BACKGROUND-IMAGE: url(images/bgtiao1.jpg); LINE-HEIGHT: 22px; PADDING-LEFT: 28px; WIDTH: 114px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; COLOR: #1c4b93; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
A.bai:link {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.bai:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.modborder01 {
	BORDER-BOTTOM: #1b45b5 1px solid; BORDER-LEFT: #1b45b5 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #1b45b5 1px; BORDER-RIGHT: #1b45b5 1px solid; PADDING-TOP: 10px
}
.hui A:link {
	FONT-FAMILY: "宋体"; COLOR: #2c2c2c; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.hui A:visited {
	FONT-FAMILY: "宋体"; COLOR: #2c2c2c; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.lan:link {
	COLOR: #0639a6; FONT-SIZE: 12px
}
A.lan:visited {
	COLOR: #0639a6; FONT-SIZE: 12px
}
.button_link {
	BACKGROUND-IMAGE: url(../images/button_imgm.gif); PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; FLOAT: left; HEIGHT: 20px; PADDING-TOP: 0px
}
.button_link UL {
	BACKGROUND-IMAGE: url(../images/button_imgl.gif); PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; FLOAT: left; HEIGHT: 20px; PADDING-TOP: 0px
}
.button_link LI {
	BACKGROUND-IMAGE: url(../images/button_imgr.gif); PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; FLOAT: left; HEIGHT: 20px; COLOR: #000000; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.button_link A:link {
	LINE-HEIGHT: 16px; MARGIN: 2px 8px; DISPLAY: block; FLOAT: left; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.button_link A:visited {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 2px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.button_link A:hover {
	LINE-HEIGHT: 16px; MARGIN: 2px 8px; FLOAT: left; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
